
#a-left { width: 23%; float: left; }
#a-right { width: 23%; float: right; } 
#a-middle { width: 50%; margin: 0 auto; }

#node-form .standard { clear: none; }

/* Fixes #a-remove positioning problems caused by offsetParent differences */
.a-list { position: relative; }
.a-list li { z-index: 10; }

.box h2:first-letter { text-transform: capitalize; }

.a-loading { text-decoration: underline; }

#a-remove {
	position: absolute;
	padding-right: 1em;
	z-index: 9;
}

#a-shade-window {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 110;
}

#a-confirm {
	position: absolute;
	top: 100px;
	left: 30%;
	width: 40%;
	height: auto;
	padding: 2em;
	background-color: #fff;
	z-index: 120;
}

#a-confirm a { display: block; margin: 1em 0 1em 1em; }
